{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    ["module:fast-async", {
      "spec": true,
      "env": {
        "augmentObject": false,
        "dontMapStackTraces": true,
        "asyncStackTrace": false,
        "dontInstallRequireHook": false
      },
      "compiler": {
        "promises": true,
        "generators": false
      },
      "runtimePattern": null
    }]
  ]
}
